h1 {
  text-align: center;
  margin-bottom: 3rem;
  font-weight: bolder;
}

.todo-list {
  width: 60%;
  margin: 1rem auto 0 auto;
}

#thId {
  width: 2rem;
}

#thPriority {
  width: 5rem;
}

#thAction {
  text-align: end;
  width: 3rem;
}